MONGO_DEFAULT_URL=mongodb+srv:
MONGO_DATA_URL=mongodb+
OPENAI_API_KEY=sk-proj-
OPENSEARCH_USERNAME=ok@email.com
OPENSEARCH_PASSWORD=OK_PASS`    
OPENSEARCH_URL=https://domain.en.ok.com
SESSION_ID=cookies_id